.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  width: 90px;
  height: 90px;
  border: 5px solid goldenrod;
}

.players {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  display: flex;
  flex-direction: column;
  margin: 30px 30px;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.is-hidden {
  display: none;
}

.end-btn-container {
  text-align: center;
  margin-top: 50px;
}