.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 200px;
}

.square {
  width: 90px;
  height: 90px;
  border: 5px solid goldenrod;
}

.players {
  height: 220px;
  display: flex;
  flex-direction: column;
}

.player1 {
  display: flex;
  margin: 30px 30px;
}

.player2 {
  display: flex;
  margin: 0 30px;
}

.is-hidden {
  display: none;
}